//----------------------------------------------------------------------
//	COMPONENTS
//	Blockquotes
//----------------------------------------------------------------------

.blockquote {
	padding: 0.75em 0; /* 12px 0 */
}

cite {
	font-style: normal;
}

.blockquote .text-small {
	@include mq($lap - 1, max) {
		display: block;
		padding-top: 1em; /* 15px from 15 */
	}
	@include mq($lap) {
		white-space: nowrap;
	}
}