//----------------------------------------------------------------------
//	COMPONENTS
//	Paragraphs
//----------------------------------------------------------------------

//	Text content
//-----------------------------------

.p,
.text-content p {
	font-size: 1.125em; /* 18px */
	line-height: 1.223; /* 22px from 18 */
	margin-bottom: 1.111em; /* 20px from 18 */

	@include mq($lap) {
		line-height: 1.389; /* 25px from 18 */
	}
}

.p--tight,
.text-content .p--tight {
	margin-bottom: 0.556em; /* 10px from 18 */
}

//	Text indents 
.text-content p:not(.text-small) {
	@include mq($lap) {
		text-indent: 4.333em; /* 78px from 16px */
	}
}

.no-indent {
	text-indent: 0 !important;
}

.text-content .heading-inline + p:not(.text-small) {
	@include mq($lap) {
		margin-top: -1.778em; /* -32px from 18px */
		position: relative;
	}
}

.text-content .text-large,
.text-content .text-large.text-large {
	@include mq($lap) {
		text-indent: 2.6em; /* 78px from 30px */
	}
}
.text-content .heading-inline + .text-large {
	@include mq($lap) {
		margin-top: -0.933em; /* -28px from 30px */
		position: relative;
	}
}


//	Text links
//-----------------------------------
.text-content p a,
.text-content li a {
	color: $dark-grey;
	font-style: italic;
}

.main-content a:hover,
.main-content a:focus {
	color: $highlight;
	transition: color $duration $easing;
}

.text-content p a {
	background-image: linear-gradient(to left, rgba(17, 17, 17, 0.5) 50%, rgba(17, 17, 17, 0.5) 50%);
	background-position: 0 1.112em; /* 0 20px from 18 */
	background-repeat: repeat-x;
	background-size: 1px 1px;
	text-shadow: 1px 1px 0 #fff, -1px 1px 0 #fff;
	transition: all $duration $easing;
}
.text-content p a:hover,
.text-content p a:focus {
	background-image: linear-gradient(to left, $highlight 50%, $highlight 50%);
}

.site-footer p a,
.site-footer p a:hover,
.site-footer p a:focus {
	background-image: linear-gradient(to left, rgba(255, 255, 255, 0.5) 50%, rgba(255, 255, 255, 0.5) 50%);
	color: #fff;
	text-shadow: 1px 1px 0 $contrast, -1px 1px 0 $contrast;
}




//	Modifiers
//-----------------------------------

.text-indent {
	text-indent: 4.167em; /* 75px from 18 */	
}

.text-force-wrap {
	@include mq($lap) {
		padding-right: 60px;
	}	
}

.text-x-large,
.text-content .text-x-large {
	font-size: 2.188em; /* 35px */
	line-height: 1.143; /* 40px from 35 */
	margin-bottom: 0.857em; /* 30px from 35 */

	@include mq($lap) {
		font-size: 3.125em; /* 50px */
		line-height: 0.96; /* 48px from 50 */
		margin-bottom: 0.64em; /* 32px from 50 */
	}
}

.text-large,
.text-content .text-large {
	font-size: 1.875em; /* 30px */
	line-height: 1.067; /* 32px from 30 */
	margin-bottom: 0.6em; /* 18px from 30 */
}

.text-small,
.text-content .text-small {
	font-size: 0.938em; /* 15px */
	line-height: 1.333; /* 20px from 15 */	
}

.text-large .text-small {
	font-size: 0.5em; /* 15px from 30 */
}