//----------------------------------------------------------------------
//	COMPONENTS
//	Hero
//----------------------------------------------------------------------

.hero {
	background-color: #ccc;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	padding-top: 100%;

	@include mq($lap) {
		padding-top: 56.25%;
	}
}