//----------------------------------------------------------------------
//	COMPONENTS
//	Grid
//----------------------------------------------------------------------

//	Wrapper
//-----------------------------------

.wrapper {
	max-width: 40em; /* 640px */
	padding: 0 1.25em; /* 0 20px */
	@include mq($desk) {
		max-width: 50em; /* 800px */
	}
	@include mq($max) {
		max-width: 61.25em; /* 980px */
	}
}




//	Grid
//-----------------------------------

.grid {
	margin-left: -0.25rem; /* -4px */
}




//	Columns
//-----------------------------------

.grid__col {
	padding-left: 0.25em; /* 4px */
}