//----------------------------------------------------------------------
//	GENERIC
//	Document
//----------------------------------------------------------------------

//	Document
//-----------------------------------

body {
	background-color: $light-grey;
	color: $dark-grey;
	font-family: $base-font;
}




//	Text selection
//-----------------------------------

::selection {
	background-color: rgba(#666, 0.8);
	color: #fff;
	text-shadow: none;
}
