<footer class="site-footer" role="contentinfo">
	<div class="site-footer__inner">
		<div class="wrapper">
			<div class="grid">
				<div class="grid__col col-desk--2-3 float-desk--right">	
					<div class="text-content">
						<p class="text-indent text-reverse">I am currently working full time at <a href="http://www.mslgroup.co.uk" target="_blank">MSLgroup London</a> but feel free to get in touch.</p>
						<ul class="list-social">
							<li class="list-social__item">
								<a class="list-social__link icon--email" href="mailto:enora.thepaut@gmail.com">
									<span class="list-social__span text-reverse">enora.thepaut@gmail.com</span>
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>