<head prefix="og: http://ogp.me/ns">

	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<title>Enora Thepaut / designer and art director in London</title>
	<meta name="description" content="I am Enora, a designer and art director with a passion for solving problems with ideas.">

	<!-- touch icons - 256px x 256px-->
	<link rel="shortcut icon" href="icon-touch.png">
	<link rel="apple-touch-icon-precomposed" href="icon-touch.png">

	<!-- style -->
	<link rel="stylesheet" href="/css/dist/global.min.css">
	<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Vollkorn:400italic,400">

	<!-- head.min.js - include inline to avoid extra request -->
	<script src="/js/dist/head.min.js"></script>
</head>